---
const { serviceurl, servicetitle, servicenummer, servicebeskrivelse, servicepunkt } = Astro.props;
---
<a href={serviceurl}>
    <article>
        <p>{servicenummer}</p>
        <h4>{servicetitle}</h4>
        <p>{servicebeskrivelse}</p>
        <hr>
        <ul>
            <li>{servicepunkt}</li>
        </ul>
    </article>
</a>