---
const { serviceurl, servicetitle, servicenummer, servicebeskrivelse, servicepunkt } = Astro.props;
---

<a href={serviceurl}>
    <section>
        <p>{servicenummer}</p>
        <h4>{servicetitle}</h4>
        <p>{servicebeskrivelse}</p>
        <hr>
        <ul>
            <li>{servicepunkt}</li>
        </ul>
    </section>
</a>