---
import Button from '../components/Button.astro';
const { kontaktimg, kontaktalt, kontaktbeskrivelse, personnavn, personbeskrivelse, title } = Astro.props;
---

<section class="max-w-7xl m-auto">
    <div class="grid grid-cols-1 md:grid-cols-5 text-darkblue-500">
    <div class="col-span-1 md:col-span-2">
    <h3 class="font-albert font-bold text-4xl mb-6">{title}</h3>
    <p class="font-outfit text-xl pb-6">{kontaktbeskrivelse}</p>
    </div>
    <div class="col-span-1  md:col-span-3">
        </div>

    </div>
    <div class="grid grid-cols-1 md:grid-cols-5 gap-10 pt-4">
    
     
            <div class="col-span-1 md:col-span-2 text-darkblue-500">
   <img src={kontaktimg} alt={kontaktalt}>
            <p class="font-outfit font-semibold pt-6">{personnavn}</p>
            <p class="font-outfit pt-2">{personbeskrivelse}</p>
            </div>
    <!-------------------------------- form -------------------------------->
        <article class="col-span-1  md:col-span-3" >
            <form>
                <div x-data="{ selectedInput: null }">
                    <section class="">
                        <article class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-5">
                            <label for="navn"
                                x-on:click="selectedInput = 1"
                                x-bind:class="selectedInput === 1 ? 'border-b-2 border-b-darkblue-600' : 'hover:border-b-2 hover:border-b-blue-500'"
                                class="block border-b-2 shadow-web border-orange-500 mb-4 text-darkblue-500 font-albert">
                                <p class="font-semibold text-2xl ml-3 mt-2 mb-1 text-darkblue-500">Navn</p>
                                <input type="text" name="navn" placeholder="Anders And" class="block border-none outline-none focus:ring-0 w-full placeholder:italic placeholder:text-darkblue-200 text-darkblue-500 bg-transparent"/></input>
                            </label>
                            <label for="tlf"
                                x-on:click="selectedInput = 2"
                                x-bind:class="selectedInput === 2 ? 'border-b-2 border-b-darkblue-600' : 'hover:border-b-2 hover:border-b-blue-500'"
                                class="block border-b-2 shadow-web border-orange-500 mb-4">
                                <p class="font-semibold text-2xl ml-3 mt-2 mb-1 text-darkblue-500">Telefonnummer</p>
                                    <input type="tel" name="tlf" placeholder="8888 8888" class="block border-none outline-none focus:ring-0 w-full placeholder:italic placeholder:text-darkblue-200 text-darkblue-500 bg-transparent"></input>
                            </label>
                        </article>
                        <label for="email"
                        x-on:click="selectedInput = 3"
                        x-bind:class="selectedInput === 3 ? 'border-b-2 border-b-darkblue-600' : 'hover:border-b-2 hover:border-b-blue-500'"
                        class="block border-b-2 shadow-web border-orange-500 mb-4">
                        <p class="font-semibold text-2xl ml-3 pt-2 mb-1 text-darkblue-500">Email</p>
                            <input type="email" name="email" placeholder="andersand@andeby.dk" class="block border-none outline-none focus:ring-0 w-full placeholder:italic placeholder:text-darkblue-200 text-darkblue-500 bg-transparent"></input>
                        </label>
                        <label for="besked"
                        x-on:click="selectedInput = 4"
                        x-bind:class="selectedInput === 4 ? 'border-b-2 border-b-darkblue-600' : 'hover:border-b-2 hover:border-b-blue-500'"
                        class="grid items-end content-between border-b-2 shadow-web border-orange-500 mb-4 h-32">
                        <p class="font-semibold text-2xl ml-3 mt-2 mb-1 text-darkblue-500">Besked</p>
                            <input type="text" name="besked" height="128" placeholder="Jeg mangler en ny hjemmeside, kan i hjælpe med det?" class="block border-none outline-none focus:ring-0 w-full placeholder:italic placeholder:text-darkblue-200 text-darkblue-500 bg-transparent"></input>
                        </label>
                        <div class="flex justify-end">
                            <Button>Send besked</Button>
                        </div>
                    </section>
                    
                </div>
            </form>
        </article>

 
    </div>
</section>