
---
const { personlimg, personlalt, personleftnavn, personleftbeskrivelse, personlefttitel, kompetencer = [] } = Astro.props;

---

<article class=" grid md:grid-cols-2 gap-6 md:gap-10 " >

<section class="text-darkblue-500 ">

<h4 class="font-albert text-4xl md:text-5xl font-bold">{personleftnavn}</h4>
<p class="font-albert text-2xl md:text-3xl font-light" >{personlefttitel}</p>
<hr class="border-blue-500">
<p class="font-outfit text-base" >{personleftbeskrivelse}</p>


{ kompetencer.lenght > 0 ? (
<ul>
    {kompetencer.map(kompetence => (
        <li>{kompetence}</li>
    ))}
</ul>
) : (
    <p>den driller</p>
)
}

  




</section>

<div>
 <img src={personlimg} alt={personlalt}>
</div>

</article>