
---
const { personlimg, personlalt, personleftnavn, personleftbeskrivelse, personlefttitel, kompetencer = [] } = Astro.props;

---

<article class=" grid md:grid-cols-2 gap-6 md:gap-28" >

<section class="text-darkblue-500">

    <div class="order-2 md:order-1">
        <h4 class="font-albert text-3xl md:text-5xl font-bold pb-2">{personleftnavn}</h4>
        <p class="font-albert text-xl md:text-3xl font-light pb-4" >{personlefttitel}</p>
    </div>

  <div>
      <img src={personlimg} alt={personlalt} class="block md:hidden">
    </div>

    <hr class="border-blue-500 border-2 hidden md:block">
    <p class="font-outfit text-base pt-6 pb-12" >{personleftbeskrivelse}</p>
    <p class="font-bold font-outfit text-base pb-4">Jeg kan hjælpe dig med</p>

<ul class="font-outfit text-base list-disc grid grid-col-1 md:grid-cols-2 gap-4 px-6">
    {kompetencer.map(kompetence => (
        <li>{kompetence}</li>
    ))}
</ul>

</section>

<div class="order-1 md:order-2 hidden md:block">
 <img src={personlimg} alt={personlalt}>
</div>


</article>