---
import MainLayout from "./MainLayout.astro";
import Number from '../components/Number.astro';
import Button from '../components/Button.astro';
import Kontakt from '../components/Kontakt.astro';
const {frontmatter} = Astro.props;
---
<MainLayout title="Titel">
    <!-------------------------------------- HERO SEKTION ------------------------------>

	<article class="hidden md:block bg-cover bg-[url('/src/assets/images/heroweb.png')] mt-24 mb-32 md:mb-32">
		<section class="grid grid-cols-1 gap-16 p-20 ">
			<h1 class=" pt-24 text-6xl font-albert uppercase font-black text-darkblue-500"> {frontmatter.casetitle}</h1>
		</section>
		<section class="grid grid-cols-2 gap-16 p-20">
			<div class="col-start-2">
		<h3 class="text-5xl text-darkblue-500 font-bold pb-10">Udfordringen</h3>
			<p class="text-base max-w-md font-outfit text-darkblue-500 ">{frontmatter.udfordringen}</p>
		</div>
		</section>
	</article>

<!-------------------------- mobil --------------------------->
<article class="block md:hidden bg-cover bg-[url('/src/assets/images/heromobil.png')] pb-32 mt-24">
	<section class="grid grid-cols-1 gap-16 px-6 md:hidden">
	<h1 class="pt-24 mb-12 text-5xl font-albert uppercase pb-40 font-bold text-darkblue-500">{frontmatter.casetitle}</h1>
	
	<section class="pb-40">
		<div>
			<h3 class="text-3xl text-darkblue-500 font-albert font-bold pb-10">Udfordringen</h3>
			<p class="text-base max-w-md font-outfit text-darkblue-500">{frontmatter.udfordringen}</p>
		</div>
		</section>
</article>
<!-------------------------------- HERO SEKTION SLUT ------------------------>


<!-------------------------------- TEKST 1 SEKTION -------------------------->
<article class="grid md:grid-cols-2 px-6 mb-40 md:px-24">

<section>
	<h3 class="text-3xl md:text-5xl  text-darkblue-500 font-albert font-bold pb-10">{frontmatter.titel1}</h3>
	<p class="text-base max-w-md font-outfit text-darkblue-500">{frontmatter.tekst1}</p>
</section>



<!-------------------------------- CARD -------------------------->
<section>
   <template x-for="services in alleservices" :key="services.id">
        <ul>
            <li>
                <article class="md:flex md:flex-col place-content-between border-2 border-orange-500 hover:bg-orange-200 rounded-3xl py-4 px-6 w-72 h-96">
                    <div>
                        <p x-text="services.servicenummer" class="font-albert text-sm"></p>
                        <h4 x-text="services.servicetitle" class="font-albert text-lg font-medium uppercase"></h4>
                    </div>
                    <div>
                        <p x-text="services.servicebeskrivelse" class="font-albert italic font-light"></p>
                        <hr class="border-blue-500 mt-2 mb-4">
                        <ul class="list-disc pl-6 space-y-2">
                            <template x-for="punkt in services.servicepunkt" :key="punkt">
                                <li x-text="punkt" class="font-albert text-sm"></li>
                            </template>
                        </ul>
                    </div>
                </article>
            </li>
        </ul>
    </template>
<div class="md:flex md:flex-col place-content-between border-2 border-orange-500 hover:bg-orange-200 rounded-3xl py-4 px-6 w-72 h-96">
<h4>Det fik kunden hjælp til</h4>

</div>

</section>

</article>
<!-------------------------------- TEKST 1 SEKTION SLUT ---------------------->



<!-------------------------------- MOCKUP SEKTION  --------------------------->
<article class="hidden md:block bg-cover bg-[url('/src/assets/images/heroweb.png')] mt-24 mb-32 pt-32 pb-40">
	<section class="grid grid-cols-2 gap-40 px-24">
<section>
 <img src={frontmatter.mockupimg} alt={frontmatter.mockupalttext} class="h-full w-full" />
<div class="grid place-content-center md:place-content-start"><Button variant="primary" >Se hjemmesiden</Button></div> 
</section>
<section>
 <img src={frontmatter.farverimg} alt={frontmatter.farveralttext} class=" h-full w-full" />
<div class="text-center">
	<p class="text-3xl  text-slate-700">{frontmatter.title}</p>
	<p class="text-xl  text-slate-500" >{frontmatter.beskrivelse}</p>
</div>
</section>
</section>
</article>

<!--------------------------------------- Mobil ------------------------------------>

<article  class="block md:hidden bg-cover bg-[url('/src/assets/images/heromobil.png')] mb-10">
	<section class="px-6 pb-24 grid gap-10">
<div class="pb-20">
 <img src={frontmatter.mockupimg} alt={frontmatter.mockupalttext} class="px-6 h-full w-full" />
<div class="grid place-content-center md:place-content-start "><Button variant="primary" >Se hjemmesiden</Button></div> 
</div>
<div class="pb-20">
 <img src={frontmatter.farverimg} alt={frontmatter.farveralttext} class="px-6 h-full w-full" />
<div class="text-center">
	<p class="text-3xl">{frontmatter.title}</p>
	<p class="text-xl" >{frontmatter.beskrivelse}</p>
</div>
</div>
</section>
</article>
<!------------------------------------- MOCKUP SEKTION SLUT ------------------------------->



<!------------------------------------------- TAL SEKTION ---------------------------------->
<article class="px-6 md:px-24 md:mb-16">
	<h3 class="text-3xl md:text-5xl text-darkblue-500 font-bold pb-10" >Resultatet</h3>
<section class="grid max-w-10 gap-20 md:grid md:grid-cols-3 md:gap-10">

<div class="mr-24 max-w-10 md:m-0">
<Number 
tal="+59%"
taltitle="ORGANISK TRAFIK"
talbeskrivelse="Har vi genereret med en ny visuel identitet og hjemmeside design i wordpress"
/>
</div>

<div class="text-right max-w-10 md:text-left ml-24 md:m-0">
<Number  
tal="+78"
taltitle="FLERE BESØGENDE"
talbeskrivelse="Har kunden fået på sin hjemmeside sammenlignet med sidste år"
/>
</div>
<div class="mr-24 max-w-10 md:m-0">
<Number 
tal="+114"
taltitle="BEDRE POSITIONER"
talbeskrivelse="I Googles søgeresultater ved hjælp af SEO-optimeringer"
/>
</div>
</section>

</article>
<!------------------------------------- TAL SEKTION SLUT  ----------------------------------->



<!--------------------------------------- QUOTE SEKTION   ------------------------------------>
<article class="hidden md:block bg-cover bg-[url('/src/assets/images/heroweb.png')] py-32">
<section class="grid grid-cols-2 px-24">
<div>
<h3 class="text-5xl text-darkblue-500 font-albert font-bold pb-10">{frontmatter.quotetitel}</h3>
<p class="text-5xl md:text-7xl text-blue-500 uppercase font-outfit font-bold" >“</p>
<p>{frontmatter.quote}</p>
</div>


<div class="order-first grid ">
	 <img src={frontmatter.kundeimg} alt={frontmatter.kundeimgalt} class="max-h-56" />
	 <div class="">
	<p class="font-outfit text-darkblue-500">{frontmatter.kunde}</p>
	<p class="font-outfit text-darkblue-500" >{frontmatter.kundebeskrivelse}</p>
</div>
</div>
</section>
</article>
<!--------------------------------------- Mobil ------------------------------------>
<article class="block md:hidden bg-cover bg-[url('/src/assets/images/heromobil.png')] px-6 pt-40 pb-56 mt-24">

<section class="pb-14">
<h3 class="text-3xl text-darkblue-500 font-albert font-bold pb-10" >{frontmatter.quotetitel}</h3>
<p class="text-5xl md:text-7xl text-blue-500 uppercase font-outfit font-bold" >“</p>
<p>{frontmatter.quote}</p>
</section>


<section class="grid grid-cols-2 gap-6  text-darkblue-500 font-outfit">
	 <img src={frontmatter.kundeimg} alt={frontmatter.kundeimgalt} class="max-h-56" />
	 <div>
	<p class="font-semibold font-outfit text-darkblue-500">{frontmatter.kunde}</p>
	<p class="font-outfit text-darkblue-500">{frontmatter.kundebeskrivelse}</p>
</div>
</section>

</article>
<!------------------------------------- QUOTE SEKTION SLUT  ---------------------------------->



<!------------------------------------- TEKST 2  SEKTION   -------------------------------->
<article class="grid md:grid-cols-2 gap-16 md:gap-10 px-6 md:px-24 mb-48">

<section>
	<h3 class="text-3xl md:text-5xl text-darkblue-500 font-albert font-bold pb-16" >{frontmatter.titel1}</h3>
	<p class="font-outfit text-darkblue-500">{frontmatter.tekst1}</p>
</section>
 <img src={frontmatter.tekst2img} alt={frontmatter.tekst2imgalt} class="h-full w-full" />

</article>
<!------------------------------------- TEKST 2 SEKTION SLUT  ---------------------------->


<!------------------------------------- NÆSTE CASE SEKTION   ------------------------------>
<article class="hidden md:block  mt-24 mb-32 md:mb-32 px-24 ">
<section class="grid grid-cols-2">


<div>
card
</div>

<div>
<h3 class="text-5xl text-darkblue-500 font-bold pb-10" >Vil du se mere af vores arbejde?</h3>
<p class="text-darkblue-500 font-outfit">Her kan du se et udsnit af vores arbejde og lade dig inspirere. Hver kunde har haft unikke udfordringer og ambitioner, og vores samarbejder spænder fra strategisk rådgivning og specialiseret konsulentarbejde til skræddersyet digital markedsføring – både inden for vores ekspertområder og på tværs af alle digitale platforme.</p>
<div class="grid place-content-start"><Button variant="primary" >Lær os at kende</Button></div>
</div
>
</section>
</article>
<!--------------------------------------- Mobil ------------------------------------>
<article class="block md:hidden  mb-48 mt-24 px-6">
<h3 class="text-3xl text-darkblue-500 font-bold pb-10" >Vil du se mere af vores arbejde?</h3>
<section>
card
</section>

<section>
<p class="text-darkblue-500 font-outfit pb-16">Her kan du se et udsnit af vores arbejde og lade dig inspirere. Hver kunde har haft unikke udfordringer og ambitioner, og vores samarbejder spænder fra strategisk rådgivning og specialiseret konsulentarbejde til skræddersyet digital markedsføring – både inden for vores ekspertområder og på tværs af alle digitale platforme.</p>
<div class="grid place-content-center md:place-content-start"><Button variant="primary" >Alle cases</Button></div> 
</section>
</article>


<!------------------------------------- NÆSTE CASE SEKTION   ------------------------------>
				<!--------------------------------  KONTAKT SEKTION ---------------------->
<article class="mb-32 px-6 md:px-24 md:mb-56">
	<Kontakt 
		title="Vil du vide om vi også kan hjælpe dig?"
		kontaktbeskrivelse="Har du spørgsmål eller vil vide mere om hvordan vi har skabt målbare resultater for vores kunder, så send os en besked. Vi er klar til at finde den rette løsning til dig."
		kontaktimg="../public/thorbjorn.png"
		kontaktalt="Closeup af Mette Line"
		personnavn="Thorbjørn Hovedskou Altenburg"
		personbeskrivelse="Co-founder"/>
</article>
		<!--------------------------------  KONTAKT SEKTION SLUT---------------------->
</MainLayout>
</MainLayout>